mixin car
	span.icon.car 
		include ../public/images/car.svg
mixin car-o
	span.icon.car-o
		include ../public/images/car-o.svg

.icons-row1
	+car
	+car
	+car
	+car-o
	+car-o
	+car-o

.icons-row2
	+car
	+car
	+car-o
	+car-o
	+car-o
	+car-o

.icons-row3
	+car
	+car-o
	+car-o
	+car-o
	+car-o
	+car-o

.icons-row4
	+car-o
	+car-o
	+car-o
	+car-o
	+car-o
	+car-o

.icons-row5
	+car-o
	+car-o
	+car-o
	+car-o
	+car-o
	+car-o
