// Fonts
@import url(https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,300..700;1,300..700&display=swap);

%font {
	font-family: 'Quicksand', Arial, sans-serif;
	transition: font-weight .45s ease-out;
}

%font-weight-a {
	.font-weight-ani {
		animation: anim-font 1s ease-in-out;
		font-weight: 700;
		transition: font-weight .45s ease-out;
	}
}

@keyframes anim-font {
	0% {
		font-weight: 200;
	}

	100% {
		font-weight: 700;
	}
}
