// Fonts
//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@ 0,200..900;1,200..900&display=swap');

%my-font {
	font-family: 'Roboto', Arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
