@import url(https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,300..700;1,300..700&display=swap);
@import url(reset/reset.min.css);
body {
  font-family: 'Quicksand', Arial, sans-serif;
  transition: font-weight .45s ease-out; }

@keyframes anim-font {
  0% {
    font-weight: 200; }
  100% {
    font-weight: 700; } }
@keyframes anim-width {
  0% {
    width: 0; }
  100% {
    width: 72%; } }
@keyframes anim-icon {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes anim-icon-o-a {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #eff5ff;
  color: #05306F;
  fill: currentColor;
  font-size: 16px; }

*:focus {
  outline: 5px auto #82b4ff;
  outline-offset: 1px; }

.opow {
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1.875rem;
  margin: 1.25rem;
  max-width: 940px;
  width: calc(100% - 1.25rem); }
  @media only screen and (min-width: 840px) {
    .opow {
      padding: 3.75rem; } }
  @media only screen and (max-width: 840px) and (min-width: 600px) {
    .opow {
      padding: 3.75rem 6.25rem; } }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2.5em; }
  @media only screen and (min-width: 600px) {
    .header {
      padding-bottom: 3.125em; } }

@media only screen and (min-width: 840px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: nowrap; } }

.title-1 {
  font-size: 1.563rem;
  font-weight: 700;
  line-height: 1.3;
  transition: font .5s ease; }
  @media only screen and (min-width: 840px) {
    .title-1 {
      font-size: 2.188rem; } }

.title-2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 .625rem 1.563rem 0; }

.title-2-text {
  font-weight: 400; }

.title-2-thumb {
  display: inline-block;
  margin: .750rem .938rem 0 0;
  opacity: .5; }

.date {
  opacity: .7;
  padding-top: .625rem; }

.font-weight-ani {
  animation: anim-font .5s ease-in-out;
  font-weight: 700;
  transition: font-weight .5s ease-out; }

.info-desc {
  font-size: 1rem;
  padding-bottom: 1.875rem; }
  @media only screen and (min-width: 600px) {
    .info-desc {
      font-size: .875rem; } }

.icon {
  color: #005DE8;
  display: inline-block;
  position: relative; }

.vis-icons-cars {
  transition: all .1s ease; }
  .vis-icons-cars .icon {
    margin: 0 .313rem .25rem 0;
    width: 40px; }
    @media only screen and (min-width: 400px) {
      .vis-icons-cars .icon {
        margin: 0 .625rem .25rem 0; } }

.vis-icons-trees {
  transition: all .1s ease; }
  .vis-icons-trees .icon {
    margin: 0 .438rem .5rem .438rem;
    width: 30px; }
    @media only screen and (min-width: 400px) {
      .vis-icons-trees .icon {
        margin: 0 .875rem .5rem .375rem; } }

.car-o-a,
.trees-o-a {
  position: absolute;
  z-index: 0; }

.cars-active .vis-icons-trees,
.trees-active .vis-icons-cars {
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden; }

.cars-active .icons-row1 .car:nth-child(2) svg,
.cars-active .icons-row1 .car:nth-child(4) svg,
.cars-active .icons-row1 .car:nth-child(6) svg {
  animation: anim-icon 1s ease-in-out;
  backface-visibility: hidden; }
.cars-active .icons-row2 .car:nth-child(2) svg,
.cars-active .icons-row2 .car:nth-child(4) svg {
  animation: anim-icon 1s ease-in-out;
  backface-visibility: hidden; }
.cars-active .icons-row3 .car:nth-child(2) svg {
  animation: anim-icon 1s ease-in-out;
  backface-visibility: hidden; }
.cars-active .car-o-a svg {
  animation: anim-icon-o-a 1s ease-in;
  backface-visibility: hidden;
  opacity: 0; }

.trees-active .icons-row1 .trees:nth-child(2) svg,
.trees-active .icons-row1 .trees:nth-child(4) svg,
.trees-active .icons-row1 .trees:nth-child(6) svg {
  animation: anim-icon 1s ease-in-out;
  backface-visibility: hidden; }
.trees-active .icons-row2 .trees:nth-child(2) svg,
.trees-active .icons-row2 .trees:nth-child(4) svg {
  animation: anim-icon 1s ease-in-out;
  backface-visibility: hidden; }
.trees-active .icons-row3 .trees:nth-child(2) svg {
  animation: anim-icon 1s ease-in-out;
  backface-visibility: hidden; }
.trees-active .trees-o-a svg {
  animation: anim-icon-o-a 1s ease-in;
  backface-visibility: hidden;
  opacity: 0; }

.trees-active .icons-row1 .icon:last-child,
.trees-active .icons-row2 .icon:last-child,
.trees-active .icons-row3 .icon:last-child,
.trees-active .icons-row4 .icon:last-child,
.trees-active .icons-row5 .icon:last-child,
.cars-active .icons-row1 .icon:last-child,
.cars-active .icons-row2 .icon:last-child,
.cars-active .icons-row3 .icon:last-child,
.cars-active .icons-row4 .icon:last-child,
.cars-active .icons-row5 .icon:last-child {
  display: none; }
  @media only screen and (min-width: 600px) {
    .trees-active .icons-row1 .icon:last-child,
    .trees-active .icons-row2 .icon:last-child,
    .trees-active .icons-row3 .icon:last-child,
    .trees-active .icons-row4 .icon:last-child,
    .trees-active .icons-row5 .icon:last-child,
    .cars-active .icons-row1 .icon:last-child,
    .cars-active .icons-row2 .icon:last-child,
    .cars-active .icons-row3 .icon:last-child,
    .cars-active .icons-row4 .icon:last-child,
    .cars-active .icons-row5 .icon:last-child {
      display: inline-block; } }
.trees-active .icons-row5,
.cars-active .icons-row5 {
  display: none; }
  @media only screen and (min-width: 600px) {
    .trees-active .icons-row5,
    .cars-active .icons-row5 {
      display: block; } }

.car-o,
.trees-o {
  color: #17B2F4;
  opacity: .6; }

.icons-row2,
.icons-row4 {
  padding-left: 1.563rem; }

.vis-cont {
  margin-bottom: 3.125rem; }
  @media only screen and (min-width: 840px) {
    .vis-cont {
      margin-bottom: 0; } }
  @media only screen and (min-width: 600px) {
    .vis-cont {
      margin-right: 1.563rem; } }

.vis-icons {
  margin: 0 auto;
  position: relative;
  width: 275px; }
  @media only screen and (min-width: 600px) {
    .vis-icons {
      width: 325px; } }

.info-cont {
  max-width: unset; }
  @media only screen and (min-width: 840px) {
    .info-cont {
      max-width: 430px; } }
  .info-cont * {
    transition: all 1s ease; }

.btn-group {
  padding-top: 1.563rem;
  text-align: center; }
  @media only screen and (min-width: 840px) {
    .btn-group {
      padding-top: 1.250rem; } }

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #FFF;
  cursor: pointer;
  font-size: .938rem;
  font-weight: 700;
  margin: 0;
  padding: .625rem 1.25rem;
  text-transform: uppercase;
  width: 50%; }
  @media only screen and (min-width: 600px) {
    .btn {
      width: auto; } }
  .btn::before {
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 12px;
    margin-right: .313rem;
    width: 20px; }
  .btn:hover {
    transition: .5s ease; }
  .btn:not(.btn-active) {
    background-color: #E9F2FF;
    border-color: #E9F2FF;
    color: #1c77ff; }
    .btn:not(.btn-active)::before {
      opacity: .7; }
    .btn:not(.btn-active):hover {
      background-color: #b6d4ff;
      border-color: #b6d4ff; }
  .btn.btn-active {
    background-color: #005DE8;
    border-color: rgba(0, 0, 0, 0.2); }
    .btn.btn-active:hover {
      background-color: #0053cf; }

.btn-1 {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }
  .btn-1::before {
    background-image: url(../images/car-blue.svg); }
  .btn-1.btn-active::before {
    background-image: url(../images/car-white.svg); }

.btn-2 {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }
  .btn-2::before {
    background-image: url(../images/trees-blue.svg); }
  .btn-2.btn-active::before {
    background-image: url(../images/trees-white.svg); }

.info-graph {
  margin: 0 auto;
  max-width: 300px; }

.info-graph-date {
  font-weight: 700; }

.graph-text-cont {
  display: flex;
  flex-wrap: wrap;
  font-size: .875rem;
  justify-content: space-between;
  margin-top: .625rem; }
  @media only screen and (min-width: 600px) {
    .graph-text-cont {
      font-size: .938rem; } }

.graph-1,
.graph-2 {
  border: 2px solid #FFF;
  border-radius: 6px;
  height: 34px; }
  @media only screen and (min-width: 600px) {
    .graph-1,
    .graph-2 {
      height: 24px; } }

.graph-1 {
  background-color: #a9e2fb;
  width: 100%; }

.graph-2 {
  animation: anim-width 2s ease-out;
  background-color: #005DE8;
  margin-top: -20px;
  width: 72%; }
  @media only screen and (min-width: 600px) {
    .graph-2 {
      margin-top: -12px; } }

.graph-text-1 {
  color: #005DE8; }

.graph-text-2 {
  color: #60caf7; }

/*# sourceMappingURL=style.css.map */
